
.box{
    
    margin: auto;
     height: 360px;
     width: 450px;
     border: 1px solid black;
     margin-top: 100px;
     border-radius: 5px;
     background-image: linear-gradient(to bottom right, rgb(146, 214, 241,1), rgb(146, 214, 241,0));
     
 }
 .search-box{
     margin: 20px 30px;
     
 }
 .search-box input{
     height: 30px;
     width: 250px;
     border: 0.1px solid black;
     border-radius: 5px;
     margin-right: 10px;
 }
 .search-box button{
     height: 30px;
     width: 100px;
     color: white;
     background-color: #294caa;
     border-radius: 5px;
     border: 0.1px solid black;
 }
 .search button:hover{
     background-color: #1a316f;
 }
 .middle{
     display: flex;
 
    
     
 }
 
 .middle1{
     box-sizing: border-box;
     width: 200px;
     padding: 30px;
     font-size: 30px;
     font-weight: 500;
 }
 .middle1 .cel{
     font-size: 15px;
     font-weight: 500;
     position: relative;
     top: -11px;
 }
 .middle2{
     box-sizing: border-box;
     width: 100px;
     padding-top: 20px;
  
    
 }
 .middle3{
     box-sizing: border-box;
     width: 150px;
     padding: 20px;
    
     
 }
 
 .bottom{
     display: flex;
     flex-wrap: wrap;
     
 }
 .bottom .info{
     display: flex;
     width: 225px;
     height: 80px;
     
     
 }
 .info .info1{
     width: 90px;
     box-sizing: border-box;
     padding-left: 50px;
     padding-top: 30px;
     
 }
 
 .info .info2{
     width: 135px;
     box-sizing: border-box;
   padding-top: 15px;
   
 }



@media only screen and (max-width: 500px){
    
    .box{
         width: 400px;
        height: 520px;
     }
     .search-box{
         margin: 10px 25px;
         
     }
     .search-box input{
         height: 30px;
         width: 230px;
         margin-right: 10px;
     }
     .search-box button{
         height: 30px;
         width: 100px;
    
     }
    
     
     .middle1{
         
         width: 170px;
         padding: 25px;
         font-size: 30px;
         font-weight: 500;
     }
     .middle1 .cel{
         font-size: 15px;
         font-weight: 500;
         position: relative;
         top: -11px;
     }
     .middle2{
         box-sizing: border-box;
         width: 100px;
         padding-top: 20px;
      
        
     }
     .middle3{
         box-sizing: border-box;
         width: 120px;
         padding: 20px;
        
         
     }
     
     .bottom{
         display: flex;
         flex-wrap: wrap;
         
     }
     .bottom .info{
         display: flex;
         width: 400px;
         height: 100px;
         
         
     }
     .info .info1{
         width: 150px;
        
         padding-left: 50px;
         padding-top: 30px;
         
     }
     
     .info .info2{
         width: 250px;
       padding-top: 15px;
       
     }
}